<header class="navbar navbar-fixed-top navbar-default navbar-custom">
  <div class="container">
    <%= link_to "facebook", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        	<% if !current_user.profile.nil? %>
	        	<li><%= link_to current_user.profile.first_name, current_user %></li>
				    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
				  <% else %>				  	
				    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
				  <% end %>
			  <% else %>
			    <li><%= link_to "Sign up", new_user_registration_path %></li>
			    <li><%= link_to "Sign in", new_user_session_path %></li>
			  <% end %>
      </ul>
    </nav>
  </div>
</header>